<h3 class="text-center  pb-3">Nuestros productos</h3>
<ul>
    <li>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>ASUS</mat-card-title>
              <mat-card-subtitle>TUF Dash</mat-card-subtitle>
            </mat-card-header >
            <img mat-card-xl-image src="https://click.gt/media/22745/conversions/1-medium.jpg"  >
            <mat-card-content>
              <p align="center">
                Especificaciones <br>
                    Procesador:  Intel Corei7-12650H<br>
                    Graficos: NVIDIA RTX 3070 8GB GDDR6<br>
                    Memoria: 16GB  DDR5 4800Mhz (8GB + 8GB)<br>
                    Disco: 512GB PCIe Solid State Drive<br>
                    Pantalla: 15.6" FHD 144Hz Display Full HD 1920x1080<br>

              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>14,999.00</button>
              <button mat-button>Comprar</button>
            </mat-card-actions>
          </mat-card>        
    </li>

    <li>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>ASUS</mat-card-title>
              <mat-card-subtitle>PC ROG STRIX G10DK</mat-card-subtitle>
            </mat-card-header >
            <img mat-card-xl-image src="https://click.gt/media/15244/conversions/1-medium.jpg"  >
            <mat-card-content>
              <p align="center">
                Especificaciones <br>
                Procesador: AMD Ryzen 7 5700G Octa-core   (Turbo Boost Hasta 4.6GHz)<br>
                Graficos: NVIDIA GeForce RTX3060 12GB DDR6<br>
               Memoria: 16GB DDR4 Maximo soportado 64GB<br>
               Disco: 1TB SATA 7200RPM + 256GB M.2 NVMe PCI<br>
               S.Operativo: Windows 10 Hom<br>
               Conectividad: Wi-Fi 5(802.11ac)+Bluetooth 5.0<br>
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>13,299.00</button>
              <button mat-button>Comprar</button>
            </mat-card-actions>
          </mat-card>
    </li>
</ul>



