<h2 class="text-center  pb-3">Nuestras sedes</h2>
    <ul>
        <li>
            Centro comercial Peri Roosevelt<br>
            zona 7 local 40 <br>
            Tel: (502) 2235-5817<
        </li>

        <li>
            Centro comercial La Pradera <br>
            20 calle zona 10 local 342 <br>
            Tel: (502) 2367-6933
        </li>

        <li>
            Chiquimula<br>
            3ra calle 13-71 zona 1<br>
            Tel: (502) 7942-1383
        </li>
        <li>
            Centro Comercial Interplaza<br>
            locales 204 y 205<br>
            Tel: (502) 7766-9357
        </li>
        <li>
            Centro Comercial Metro Plaza<br>
            locale 311<br>
            Tel: (502) 7796-8442
        </li>
        <li>
            Local 368 y 369<br>
                km. 15.5 Carretera a El Salvador<br>
                Tel: (502) 6643-1418
        </li>
        <br><br><br><br>
    </ul>

<br><br><br><br>
<footer >
            <h2>
                Contáctanos
            </h2>
            <hr style="width: 92px;">
            <p>
                <i class="fas fa-envelope mr-2"></i><a href="javascript:;">info@itcinformatica.gt</a>
            </p>
            <p>
                Tel: (502) 5951-3619
            </p>
</footer>