<mat-tab-group dynamicHeight>
    <mat-tab label="Misión">
      <div class="example-large-box mat-elevation-z4">
        Ofrecer un gran servicio de venta de computadoras, partes y servicios de alta calidad 
        y conformidad a través de un excelente equipo de trabajo con el fin de satisfacer 
        las necesidades de nuestros clientes.
        <img src="https://crislugo.opennemas.com/media/crislugo/images/2021/02/11/2021021121502429318.png" align="right">
      </div>
    </mat-tab>
    

    <mat-tab label="Visión">
        <div class="example-large-box mat-elevation-z4">
            Ser la primera opción de los clientes actuales y futuros, satisfaciendo sus necesidades 
            y requerimientos. Además ser reconocida en el ámbito nacional, por la calidad de sus servicios, 
            atenciòn, y mantenerse líder de competitividad en el mercado de la computación.
            <img src="https://www.bsebti.com/bilx/amp/images/vision.png" align="right">
        </div>
      </mat-tab>

      <mat-tab label="Objetivos">
        <div class="example-large-box mat-elevation-z4">
            - Prestar un eficiente y oportuno servicio de asistencia técnica en el ramo de la informatica.
            - Prestar servicio de apoyo a las empresas a nivel de soluciones de soporte, reparaciones 
            y servicios a nuestros clientes.
            <img src="https://static.wixstatic.com/media/5e36dd_d02f02e5d70b467b87d52c8c66d7e0d3~mv2.png/v1/fill/w_560,h_314,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/b005%20objetivos%20de%20la%20evaluacion%20del%20desempe%C3%B1o.png" align="right">
        </div>
      </mat-tab>
  </mat-tab-group>